# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.
# Also update any GitHub Actions that use these variables.

# General
NODE_ENV="development"
NODE_OPTIONS="--max_old_space_size=16384"
NEXT_TELEMETRY_DISABLED="true"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"

# Database
DB_HOST="localhost"
DB_PORT="5432"
DB_USER="user"
DB_PASSWORD="password"
DB_NAME="database"

# Storage
S3_HOST="localhost"
S3_PORT="9000"
S3_USER="user"
S3_PASSWORD="password"
S3_NAME="storage"

# Auth
FEIDE_CLIENT_ID=""
FEIDE_CLIENT_SECRET=""
FEIDE_AUTHORIZATION_ENDPOINT="https://auth.dataporten.no/oauth/authorization"
FEIDE_TOKEN_ENDPOINT="https://auth.dataporten.no/oauth/token"
FEIDE_USERINFO_ENDPOINT="https://auth.dataporten.no/openid/userinfo"
FEIDE_EXTENDED_USERINFO_ENDPOINT="https://api.dataporten.no/userinfo/v1/userinfo"

# Matrix
MATRIX_SERVER_NAME=""
MATRIX_ENDPOINT="https://matrix.hackerspace-ntnu.no/_synapse/admin"
MATRIX_SECRET=""
MATRIX_ACCESS_TOKEN=""
