# dependencies
/node_modules

# next.js
/.next/
next-env.d.ts

# misc
.DS_Store

# local env files
.env

# typescript
*.tsbuildinfo

# site map
public/sitemap.xml
public/robots.txt

# data
/data

# Ignore husky files, see PR #54
/.husky/*

# Nix shell
shell.nix
