@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply min-w-0 border-border;
  }

  :root {
    --background: 0 0% 100%; /* #ffffff */
    --foreground: 240 10% 3.9%; /* #09090b */
    --card: 0 0% 100%; /* #ffffff */
    --card-foreground: 240 10% 3.9%; /* #09090b */
    --popover: 0 0% 100%; /* #ffffff */
    --popover-foreground: 240 10% 3.9%; /* #09090b */
    --primary: 142.1 76.2% 36.3%; /* #16a34a */
    --primary-foreground: 355.7 100% 97.3%; /* #fff1f2 */
    --secondary: 240 4.8% 95.9%; /* #f4f4f5 */
    --secondary-foreground: 240 5.9% 10%; /* #18181b */
    --muted: 240 4.8% 95.9%; /* #f4f4f5 */
    --muted-foreground: 240 3.8% 46.1%; /* #71717a */
    --accent: 240 4.8% 95.9%; /* #f4f4f5 */
    --accent-foreground: 240 5.9% 10%; /* #18181b */
    --destructive: 0 84.2% 60.2%; /* #ef4444 */
    --destructive-foreground: 0 0% 98%; /* #fafafa */
    --border: 240 5.9% 90%; /* #e4e4e7 */
    --input: 240 5.9% 90%; /* #e4e4e7 */
    --ring: 142.1 76.2% 36.3%; /* #16a34a */
    --radius: 0.3rem;
  }

  .dark {
    --background: 20 14.3% 4.1%; /* #0c0a09 */
    --foreground: 0 0% 95%; /* #f2f2f2 */
    --card: 24 9.8% 10%; /* #1c1917 */
    --card-foreground: 0 0% 95%; /* #f2f2f2 */
    --popover: 0 0% 9%; /* #171717 */
    --popover-foreground: 0 0% 95%; /* #f2f2f2 */
    --primary: 142.1 70.6% 45.3%; /* #22c55e */
    --primary-foreground: 144.9 80.4% 10%; /* #052e16 */
    --secondary: 240 3.7% 15.9%; /* #27272a */
    --secondary-foreground: 0 0% 98%; /* 	#fafafa */
    --muted: 0 0% 15%; /* #262626 */
    --muted-foreground: 240 5% 64.9%; /* #a1a1aa */
    --accent: 12 6.5% 15.1%; /* #292524 */
    --accent-foreground: 0 0% 98%; /* #fafafa */
    --destructive: 0 62.8% 30.6%; /* #7f1d1d */
    --destructive-foreground: 0 85.7% 97.3%; /* #fef2f2 */
    --border: 240 3.7% 15.9%; /* #27272a */
    --input: 240 3.7% 15.9%; /* #27272a */
    --ring: 142.4 71.8% 29.2%; /* #15803d */
  }

  ::selection {
    @apply bg-primary/50;
  }

  ::-moz-selection {
    @apply bg-primary/50;
  }

  h1 {
    @apply scroll-m-20 font-montserrat text-4xl font-extrabold tracking-tight lg:text-5xl;
  }

  h2 {
    @apply scroll-m-20 border-b pb-2 font-montserrat text-3xl font-semibold tracking-tight first:mt-0;
  }

  h3 {
    @apply scroll-m-20 font-montserrat text-2xl font-semibold tracking-tight;
  }

  h4 {
    @apply scroll-m-20 font-montserrat text-xl font-semibold tracking-tight;
  }

  p {
    @apply leading-7 [&:not(:first-child)]:mt-6;
  }

  blockquote {
    @apply mt-6 border-l-2 pl-6 italic;
  }

  code {
    @apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
  }

  small {
    @apply text-sm font-medium leading-none;
  }
}
